@import 'stylesheets/main.scss';

.Button {
  min-width: 7rem;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid $color-main;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background: white;
  color: $color-main;

  &_main {
    color: white;
    background: $color-main;
  }
  &:hover,
  &:active {
    background: $color-background-main;
    color: $color-main;
  }
  &:disabled {
    background: lightgrey;
    border-color: lightgrey;
  }
}
