@import 'stylesheets/main.scss';

.Input {
  margin: 1rem;
  display: flex;
  align-items: baseline;
  height: 100%;

  &_require {
    & label {
      @include requiredNotation();
    }
  }
  & label {
    font-weight: bold;
    margin: 0.2rem;
    flex-basis: 35%;
    text-align: start;
  }
  & input,
  & textarea {
    font: inherit;
    border: 1px solid $color-background-main;
    margin: 0.15rem 0.25rem;
    &:focus {
      outline: none;
      border-color: $color-main;
    }
  }
}
