@mixin clearfix {
  &::after {
    content: '';
  }
}

@mixin requiredNotation() {
  position: relative;
  @include clearfix;
  &:after {
    z-index: 0;
    height: 5px;
    width: 5px;
    top: 0px;
    right: 0px;
    border-radius: 50%;
    background-color: $color-danger;
    position: absolute;
  }
}
