@import 'stylesheets/main.scss';

.GoalDetails {
  width: calc(100% - #{$standart-spacing});
  &_card {
    text-align: start;
    height: 100%;
    display: flex;
    & > *:first-child {
      flex-basis: 30%;
    }
  }
}
