@import 'stylesheets/main.scss';

.GoalDetails {
  width: calc(100% - #{$standart-spacing});
  &_card {
    text-align: start;
    min-height: calc(77vh - #{$standart-spacing} - #{$main-header-hight});
    display: flex;
    & > *:first-child {
      flex-basis: 30%;
    }
  }
}
