@import 'stylesheets/main.scss';

.Card {
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  padding-bottom: 0;
  overflow: hidden;
  background: $color-secondary;
  min-height: 12rem;
  width: 100%;
  height: 100%;
  min-width: 25rem;
  max-width: 30rem;
  margin: 20px;
  text-align: center;
  &_header {
    position: absolute;
    top: 0;
  }
  &_main {
    margin: 2rem 0 1rem 0;
  }
  &_footer {
    padding: 12px;
  }
}
