@import 'stylesheets/main.scss';

.Card {
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  padding-bottom: 0;
  // overflow: hidden;
  background: $color-secondary;
  min-height: 12rem;
  width: 100%;
  height: 100%;
  margin: 20px;
  text-align: center;
  &_header {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 16px;
    width: calc(100% - 32px);
    border-bottom: 1px solid $color-background-main;
  }
  &_main {
    margin: 3rem 0 1rem 0;
  }
  &_footer {
    padding: 12px;
  }
}
