@import 'stylesheets/main.scss';

.Card {
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  padding: 1rem;
  padding-bottom: 0;
  overflow: hidden;
  background: $color-secondary;
  min-height: 8rem;
  min-width: 10rem;
  margin: 20px;
  &_header,
  &_footer {
    position: absolute;
  }
  &_header {
    top: 0;
  }
  &_main {
    margin: 2rem 0;
  }
  &_footer {
    bottom: 0;
  }
}
