@import 'stylesheets/main.scss';
.App {
  color: $color-main;
  &_main {
    padding: calc(#{$standart-spacing} + #{$main-header-hight})
      $standart-spacing $standart-spacing $standart-spacing;
    &___loggedin {
      padding-left: $drawer-width;
    }
  }
}
