@import 'stylesheets/main.scss';
.App {
  color: $color-main;
  &_main {
    margin: 0 32px;
    padding-top: calc(#{$standart-spacing} + #{$main-header-hight});
    &___loggedin {
      padding-left: $drawer-width;
    }
  }
}
