.Devider {
  background-color: rgba(0, 0, 0, 0.2);
  &_horizontal {
    margin: 17px 0;
    height: 1px;
  }

  &_narrowMargin {
    margin: 4px 0 10px 0;
  }
  &_noMargin {
    margin: 0;
    margin-top: 4px;
  }
}
